name: pythontests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  pytest:
    name: pytest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
        poetry-version: [1.1.2]
        os: [ubuntu-18.04, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run image
        uses: abatilo/actions-poetry@v2.1.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Run pytest
        run: poetry install

      - name: Run pytest
        run: poetry run coverage run --omit='./tests/**/*' --source=. -m pytest -vv --durations=10

      - name: create coverage xml
        if: ${{ github.ref == 'refs/heads/master' && matrix.python-version == 3.9 }}
        run: poetry run coverage xml

      - name: Upload coverage to Codecov
        if: ${{ github.ref == 'refs/heads/master' && matrix.python-version == 3.9 && matrix.ox == 'ubuntu-18.04' }}
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: codecov-umbrella
          fail_ci_if_error: false
